body{
    background-color: pink;
}
.details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.inner-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.delete{
    border-radius:50%;
}
.delete:hover{
    cursor:pointer;
}